@{
    ViewBag.Title = "Главная Страница";
}

<div class="jumbotron">
    <div>
        @*@Html.ActionLink("Books", "Index", "books")<br />
        @Html.ActionLink("Issuance of books", "Index", "issuance_of_books")<br />
        @Html.ActionLink("Librarians", "Index", "librarians")<br />
        @Html.ActionLink("Publication type", "Index", "publication_type")<br />
        @Html.ActionLink("Publishinggs", "Index", "publishinggs")<br />
        @Html.ActionLink("Readers", "Index", "readers")<br />
        @Html.ActionLink("Storage location", "Index", "storage_location")*@
    </div>


    <h1>Chi-Taim</h1>
    <p class="lead">Читать не вредно, вредно не читать:)</p>
    <p><a href="https://localhost:44393/books" class="btn btn-primary btn-lg">Просмотр Книг &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@