@model biblia_курсач.Models.books

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publication_type.publication_type1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publication_type.publication_type1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publishingg.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publishingg.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storage_location.storage_location1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storage_location.storage_location1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
